ul{
   
    list-style: none;
}
.display-menu{
    display: none;
}

ul li a{
    text-decoration: none;
    margin: auto;
}


ul li:hover .display-menu{
    display: block;
    position: absolute;
    text-align: left;
}





